extends layouts/default.pug

block content
  main
    h1 Table of Contents

    ul
      li
        a(href="exploring-json.html") Exploring JSON
      li
        a(href="external-json.html") Loading External JSON Data
      li
        a(href="structuring-json.html") Structuring JSON Data
      li
        a(href="ajax-jquery.html") Accessing JSON with Ajax and JQuery