extends layouts/default.pug

block content
  main
    h1 Structuring JSON Data

      h6 JSON and Arrays

      p Typically JSON data is structured in an array format to allow for easier parsing of the data. 

      +codeMulti('JSON', '[', '  {', '    "name":"City Scapes",', '    "description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur sapiente nulla in quos harum facere.",', '    "prices":{"breakfast":"20", "lunch":"14"},', '    "options":[', '      "hamburger",', '      "shrimp",', '      "cheesecake"', '    ],', '    "image": "restaurant-1.jpg",', '    "manager":"Bob Cobb"', '  },', '  {...},', '  {...},', '  {...},', ']')

      +codeMulti('Javascript', 'var restaurantData;', '', 'var restaurantXHR = new XMLHttpRequest();', 'restaurantXHR.open("GET", "assets/data/locations-data.json", true);', 'restaurantXHR.responseType = "text";', 'restaurantXHR.send();', '', 'restaurantXHR.onload = function() {', '  if(restaurantXHR.status === 200) {', '    restaurantData = JSON.parse(restaurantXHR.responseText);', '    console.log(restaurantData);', '    display(0); // loads first entry by default', '  }', '}', '', 'function display(restaurantIndex) {', '  var details = "";', '  console.log(restaurantIndex);', '  document.querySelector("#restaurant-name").innerHTML = "<strong>Name</strong>: " + restaurantData[restaurantIndex].name;', '  document.querySelector("#restaurant-manager").innerHTML = "<strong>Manager</strong>: " + restaurantData[restaurantIndex].manager;', '  document.querySelector("#restaurant-description").innerHTML = "<strong>Description</strong>: " + restaurantData[restaurantIndex].description;', '  document.querySelector("#restaurant-image").src = "images/" + restaurantData[restaurantIndex].image;', '  document.querySelector("#restaurant-breakfast").innerHTML = "<strong>Breakfast Price</strong>: $" + restaurantData[restaurantIndex].prices.breakfast;', '  document.querySelector("#restaurant-lunch").innerHTML = "<strong>Lunch Price</strong>: $" + restaurantData[restaurantIndex].prices.lunch;', '  for(i = 0; i < restaurantData[restaurantIndex].options.length; i++) {', '     details += "<li>" + restaurantData[restaurantIndex].options[i] + "</li>";', '  }', '  document.querySelector("#restaurant-menu").innerHTML = "<strong>Menu Sample</strong><br><ul>" + details + "</ul>";', '}')

      section.example-area
        h6 Code in Action - Example 1
        article.example-area__samples
          section.exploring-json-two
            p#json-two ...
            hr
            p#json-three 
            hr
            button(onclick="display(0)") City Scapes
            button(onclick="display(1)") Light Bites
            button(onclick="display(2)") Dessert Heaven
            button(onclick="display(3)") Boiling Potatoes
            h6 Restaurants
            p#restaurant-name
            p#restaurant-manager
            p#restaurant-description
            img#restaurant-image(src="images/forest.jpg" style="width: 300px;")
            p#restaurant-breakfast 
            p#restaurant-lunch 
            p#restaurant-menu